<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>vintage.ssctech.jp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.4.2</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>mplus-1c-heavy.ttf</string>
		<string>mplus-1c-bold.ttf</string>
		<string>mplus-1c-regular.ttf</string>
		<string>mplus-1c-medium.ttf</string>
		<string>mplus-1c-light.ttf</string>
		<string>AllerDisplay.ttf</string>
		<string>Aller_Rg.ttf</string>
		<string>Aller_Lt.ttf</string>
		<string>Aller_Bd.ttf</string>
		<string>bebasneue.ttf</string>
		<string>JockeyOne-Regular.ttf</string>
		<string>chunkfive.ttf</string>
		<string>rounded-mplus-1p-bold.ttf</string>
		<string>rounded-mplus-1p-heavy.ttf</string>
		<string>rounded-mplus-1p-light.ttf</string>
		<string>rounded-mplus-1p-medium.ttf</string>
		<string>rounded-mplus-1p-regular.ttf</string>
		<string>rounded-mplus-1p-thin.ttf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
